html, * {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: #18191A;
  margin: 0;
}

p, button, label, input {
  color: White;
}

p, .text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.progressText {
  position: absolute; 
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

#topNavBar {
  display: flex;
  justify-content: space-between;
  background-color: #242526;
  margin-bottom: 15px;
  padding: 10px;
}

#topNavBar > div {
  margin: 10px;
}

#fileInputDiv {
  text-align: right;
}

#fileInputLabel {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 24px;
}

#fileInputLabel:hover {
  text-decoration: underline;
}

#connecterBtn {
  background-image: linear-gradient(to top, #242526, #3A3B3C );        
  border-radius: 10px;
  width: 200px;
  height: 30px;
  border: none;
  cursor: pointer;
}

#connecterBtn:hover {
  background-image: linear-gradient(to top, #3A3B3C, #242526 );     
}

#progress {
  background: rgba(255,255,255,0.1);
  border-radius: 7px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 45%;
  margin-bottom: 15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

#progressBar {
  overflow: hidden;
  display: flex;
  box-shadow: 0 10px 10px -10px #4180666c;
  border-radius: 7px;
  background: #00ff33ac;
  height: 30px;
  line-height: 30px;
  transition: width 1s linear, box-shadow 0.2s linear;
  opacity: 0.95;
}

#progressBar > p {
  text-align: center;
  display: inline;
}

#progressBar:hover {
  box-shadow: 0 10px 10px -10px #01ac4b;
  opacity: 1;
}

#progressBarSingle {
  background: #2BAE66FF;
  height: 30px;
  transition: flex 1s linear, background 1s;
}

#progressBarTotal {
  background: #1eff0093;
  height: 30px;
  transition: all 1s linear;
}

#yourContributionText {
  display: none;
}

#calculationDiv {
  background-color: #3A3B3C;
  border-radius: 20px;
  border: 3px seagreen;
  border-style: solid;
  margin: auto;
  padding: 10px;
  width: 1000px;
  height: 2em;
  line-height: 1.5em;
  display: flex;
  flex-direction: column-reverse;
}

#finalResult {
  font-size: 25px;
}
